In [10]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [11]:
df=pd.read_csv("Time_invested.csv",index_col='Users')
items=pd.read_csv("warehouses.csv")

In [12]:
df

                W1     W2     W3     W4     W5     W6     W7     W8     W9
Users
73-010-8364  114.0  113.0  197.0  175.0   85.0  167.0  177.0    8.0  193.0
91-060-5966    NaN  104.0  172.0    NaN  154.0    NaN   57.0  140.0   84.0
61-657-5944  150.0  159.0   96.0    NaN  110.0    NaN  117.0    NaN   74.0
91-881-9664   83.0   39.0  199.0    NaN   14.0    NaN  183.0  139.0  150.0
15-326-7349    NaN    4.0    NaN   15.0    NaN    NaN   79.0  174.0  142.0
...            ...    ...    ...    ...    ...    ...    ...    ...    ...
75-789-9613   52.0    NaN    NaN   90.0    NaN    NaN    NaN    NaN  151.0
14-994-2113   78.0    NaN    NaN   49.0  127.0    NaN    NaN    NaN  154.0
92-440-2444   14.0   81.0    NaN    NaN    NaN   30.0  105.0  192.0  105.0
29-942-1753  189.0  127.0   79.0    NaN  118.0    NaN  107.0    NaN  182.0
40-261-8279   36.0    NaN  105.0    NaN    NaN    NaN    NaN    NaN    9.0

[1000 rows x 9 columns]

In [4]:
items

  Warehouse
0        W1
1        W2
2        W3
3        W4
4        W5
5        W6
6        W7
7        W8
8        W9

In [28]:
df

                W1     W2     W3     W4     W5     W6     W7     W8     W9
Users
73-010-8364  114.0  113.0  197.0  175.0   85.0  167.0  177.0    8.0  193.0
91-060-5966    NaN  104.0  172.0    NaN  154.0    NaN   57.0  140.0   84.0
61-657-5944  150.0  159.0   96.0    NaN  110.0    NaN  117.0    NaN   74.0
91-881-9664   83.0   39.0  199.0    NaN   14.0    NaN  183.0  139.0  150.0
15-326-7349    NaN    4.0    NaN   15.0    NaN    NaN   79.0  174.0  142.0
...            ...    ...    ...    ...    ...    ...    ...    ...    ...
75-789-9613   52.0    NaN    NaN   90.0    NaN    NaN    NaN    NaN  151.0
14-994-2113   78.0    NaN    NaN   49.0  127.0    NaN    NaN    NaN  154.0
92-440-2444   14.0   81.0    NaN    NaN    NaN   30.0  105.0  192.0  105.0
29-942-1753  189.0  127.0   79.0    NaN  118.0    NaN  107.0    NaN  182.0
40-261-8279   36.0    NaN  105.0    NaN    NaN    NaN    NaN    NaN    9.0

[1000 rows x 9 columns]

In [5]:
def standardize(row):
    new_row = (row - row.mean())/(row.max()-row.min())
    return new_row

df_std = df.apply(standardize)
print(df_std)
df_std_not_null=df_std.fillna(0)
# sparse_df = sparse.csr_matrix(df_std_not_null.values)
# sparse_df

                   W1        W2        W3        W4        W5        W6  \
Users
73-010-8364  0.053294  0.084550  0.478729  0.350286 -0.078308  0.359229
91-060-5966       NaN  0.039324  0.353101       NaN  0.268425       NaN
61-657-5944  0.234198  0.315706 -0.028808       NaN  0.047320       NaN
91-881-9664 -0.102485 -0.287309  0.488780       NaN -0.435092       NaN
15-326-7349       NaN -0.463188       NaN -0.453734       NaN       NaN
...               ...       ...       ...       ...       ...       ...
75-789-9613 -0.258264       NaN       NaN -0.076850       NaN       NaN
14-994-2113 -0.127611       NaN       NaN -0.282880  0.132747       NaN
92-440-2444 -0.449219 -0.076254       NaN       NaN       NaN -0.329214
29-942-1753  0.430178  0.154902 -0.114235       NaN  0.087521       NaN
40-261-8279 -0.338666       NaN  0.016418       NaN       NaN       NaN

                   W7        W8        W9
Users
73-010-8364  0.418432 -0.471169  0.480042
91-060-5966 -0.200125  0.192148 -0.076081
61-657-5944  0.109154       NaN -0.127101
91-881-9664  0.449360  0.187123  0.260654
15-326-7349 -0.086723  0.363002  0.219838
...               ...       ...       ...
75-789-9613       NaN       NaN  0.265756
14-994-2113       NaN       NaN  0.281062
92-440-2444  0.047298  0.453454  0.031062
29-942-1753  0.057607       NaN  0.423919
40-261-8279       NaN       NaN -0.458734

[1000 rows x 9 columns]

In [31]:
corrMatrix=cosine_similarity(df_std_not_null)
corrMatrix

array([[ 1.        , -0.105748  ,  0.01386861, ..., -0.42643126,
         0.29660538, -0.38087279],
       [-0.105748  ,  1.        ,  0.01212729, ...,  0.18826507,
        -0.16010905,  0.1345799 ],
       [ 0.01386861,  0.01212729,  1.        , ..., -0.41027176,
         0.39551087, -0.08740144],
       ...,
       [-0.42643126,  0.18826507, -0.41027176, ...,  1.        ,
        -0.40641711,  0.3336619 ],
       [ 0.29660538, -0.16010905,  0.39551087, ..., -0.40641711,
         1.        , -0.93323596],
       [-0.38087279,  0.1345799 , -0.08740144, ...,  0.3336619 ,
        -0.93323596,  1.        ]])

In [32]:
corrMatrix = pd.DataFrame(corrMatrix,index=df.index,columns=df.index)
corrMatrix

Users,73-010-8364,91-060-5966,61-657-5944,91-881-9664,15-326-7349,03-693-4397,37-674-4856,32-690-9953,91-029-9111,31-708-7921,...,23-013-6502,13-108-5473,79-168-3678,07-311-7983,15-383-5561,75-789-9613,14-994-2113,92-440-2444,29-942-1753,40-261-8279
Users,,,,,,,,,,,,,,,,,,,,,
73-010-8364,1.000000,-0.105748,0.013869,0.480659,-0.362664,0.095277,-0.498478,0.304836,0.753050,0.289130,...,-0.217400,-0.526148,-0.141064,-0.526025,0.295944,0.216500,0.040011,-0.426431,0.296605,-0.380873
91-060-5966,-0.105748,1.000000,0.012127,-0.060813,0.126193,-0.475176,0.225708,0.160353,-0.017737,-0.190528,...,-0.302978,-0.272655,0.036331,0.015455,-0.059971,-0.100775,0.061195,0.188265,-0.160109,0.134580
61-657-5944,0.013869,0.012127,1.000000,-0.340767,-0.546567,-0.052444,-0.390103,0.076697,-0.180389,-0.099794,...,-0.181457,0.193268,-0.216246,-0.360258,-0.087889,-0.578048,-0.313481,-0.410272,0.395511,-0.087401
91-881-9664,0.480659,-0.060813,-0.340767,1.000000,0.309469,-0.393118,0.234291,-0.190775,0.131827,0.214651,...,-0.359452,-0.196615,0.110829,-0.568144,0.039071,0.278317,0.071591,0.276627,-0.078985,-0.148197
15-326-7349,-0.362664,0.126193,-0.546567,0.309469,1.000000,-0.480854,0.960631,-0.402259,-0.012902,0.229406,...,0.139121,0.096248,0.183975,0.098402,0.040014,0.316127,0.555158,0.358741,0.032833,-0.226719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75-789-9613,0.216500,-0.100775,-0.578048,0.278317,0.316127,-0.004430,0.181804,0.258743,0.437468,0.654909,...,0.419839,0.156617,0.161603,-0.119125,-0.045121,1.000000,0.778376,0.453261,0.006414,-0.159554
14-994-2113,0.040011,0.061195,-0.313481,0.071591,0.555158,-0.100763,0.479862,-0.015198,0.446271,0.629141,...,0.339869,0.129348,0.227890,-0.075857,0.164734,0.778376,1.000000,0.207593,0.268856,-0.342103
92-440-2444,-0.426431,0.188265,-0.410272,0.276627,0.358741,-0.368015,0.418364,-0.056267,-0.506807,-0.004856,...,0.053478,0.515612,0.374512,0.092965,-0.181230,0.453261,0.207593,1.000000,-0.406417,0.333662
29-942-1753,0.296605,-0.160109,0.395511,-0.078985,0.032833,-0.331817,-0.061991,0.413165,0.395502,0.586316,...,0.458922,0.299374,-0.565347,-0.506445,0.067876,0.006414,0.268856,-0.406417,1.000000,-0.933236
40-261-8279,-0.380873,0.134580,-0.087401,-0.148197,-0.226719,0.397642,-0.061910,-0.422027,-0.495004,-0.689491,...,-0.496251,-0.186047,0.608235,0.537192,-0.039255,-0.159554,-0.342103,0.333662,-0.933236,1.000000

In [33]:
# Number of similar users
n = 3
# User similarity threashold
user_similarity_threshold = 0
picked_userid='91-060-5966'
corrMatrix.drop(index=picked_userid, inplace=True)

# Get top n similar users

similar_users = corrMatrix[corrMatrix[picked_userid]>user_similarity_threshold][picked_userid].sort_values(ascending=False)[:n]
# Print out top n similar users
print(f'The similar users for user {picked_userid} are', similar_users)

The similar users for user 91-060-5966 are Users
61-570-7893    0.882707
86-503-7423    0.859056
74-363-4287    0.842913
Name: 91-060-5966, dtype: float64

In [34]:
df_std

,W1,W2,W3,W4,W5,W6,W7,W8,W9
Users,,,,,,,,,
73-010-8364,0.053294,0.084550,0.478729,0.350286,-0.078308,0.359229,0.418432,-0.471169,0.480042
91-060-5966,NaN,0.039324,0.353101,NaN,0.268425,NaN,-0.200125,0.192148,-0.076081
61-657-5944,0.234198,0.315706,-0.028808,NaN,0.047320,NaN,0.109154,NaN,-0.127101
91-881-9664,-0.102485,-0.287309,0.488780,NaN,-0.435092,NaN,0.449360,0.187123,0.260654
15-326-7349,NaN,-0.463188,NaN,-0.453734,NaN,NaN,-0.086723,0.363002,0.219838
...,...,...,...,...,...,...,...,...,...
75-789-9613,-0.258264,NaN,NaN,-0.076850,NaN,NaN,NaN,NaN,0.265756
14-994-2113,-0.127611,NaN,NaN,-0.282880,0.132747,NaN,NaN,NaN,0.281062
92-440-2444,-0.449219,-0.076254,NaN,NaN,NaN,-0.329214,0.047298,0.453454,0.031062
29-942-1753,0.430178,0.154902,-0.114235,NaN,0.087521,NaN,0.057607,NaN,0.423919
40-261-8279,-0.338666,NaN,0.016418,NaN,NaN,NaN,NaN,NaN,-0.458734

In [35]:
picked_userid_invested = df_std[df_std.index == picked_userid].dropna(axis=1, how='all')
picked_userid_invested

                   W2        W3        W5        W7        W8        W9
Users
91-060-5966  0.039324  0.353101  0.268425 -0.200125  0.192148 -0.076081

In [36]:
similar_user_invested=df_std[df_std.index.isin(similar_users.index)].dropna(axis=1, how='all')
similar_user_invested

,W1,W2,W3,W4,W5,W6,W7,W8,W9
Users,,,,,,,,,
86-503-7423,NaN,NaN,0.403353,0.013602,0.107621,NaN,NaN,0.252449,-0.121999
61-570-7893,NaN,0.190078,0.408378,NaN,0.238275,NaN,-0.225898,NaN,NaN
74-363-4287,0.008068,0.119726,0.413403,-0.016548,0.338777,0.178324,0.026679,0.242399,0.036164

In [37]:
similar_user_invested.drop(picked_userid_invested.columns,axis=1, inplace=True, errors='ignore')

In [38]:
similar_user_invested #the warehouses where the similar users have invested but the picked user has not

                   W1        W4        W6
Users
86-503-7423       NaN  0.013602       NaN
61-570-7893       NaN       NaN       NaN
74-363-4287  0.008068 -0.016548  0.178324

In [40]:
# A dictionary to store item scores
item_score = {}
# Loop through items
for i in similar_user_invested.columns:
  # Get the ratings for movie i
  warehouse_rating = similar_user_invested[i]
  # Create a variable to store the score
  total = 0
  # Create a variable to store the number of scores
  count = 0
  # Loop through similar users
  for u in similar_users.index:
    # If the warehouse has rating
    if pd.isna(warehouse_rating[u]) == False:
      # Score is the sum of user similarity score multiply by the warehouse rating
      score = similar_users[u] * warehouse_rating[u]
      # Add the score to the total score for the warehouse so far
      total += score
      # Add 1 to the count
      count +=1
  # Get the average score for the item
  item_score[i] = total / count
# Convert dictionary to pandas dataframe
item_score = pd.DataFrame(item_score.items(), columns=['warehouse', 'warehouse_score'])
    
# Sort the warehouses by score
ranked_item_score = item_score.sort_values(by='warehouse_score', ascending=False)
# Select top m warehouses
m = 10
ranked_item_score.head(m)

  warehouse  warehouse_score
2        W6         0.150312
0        W1         0.006800
1        W4        -0.001132

In [9]:
SQ FT
5600 SQ FT.




LOCATION
SEMI RURAL

PRICE
550


W9 6000 SEMI RURAL  650


W9



REC BASED ON SIMILAR USERS  TO YOU            REC BASED ON PORTFOLIO             TRENDING
                                                                                            W2
                                                                                            W12

W6                                             W9
W1
W4

SyntaxError: invalid syntax (2442231928.py, line 1)

In [6]:
# 1. TAKE USER id
# 2. MAGIC
# 3. OUTPUT WAREHOUSE id

1.0

In [8]:
NEW USER
TRENDING warehouse_rating

SyntaxError: invalid syntax (1956184122.py, line 1)